/*************** Portfolio Page Styles *****************/

/******** Macros **********/
:root {
  --blueback: #7393b3;
  --dark_blue: #394A59;
}


/******** Page Styles **********/

.page-header {
  background-color: #7393B3;
  height: 200px;
  margin-bottom: 20px;
}

.page-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 2% 0 0 5%;
  font-size: 5em;
}

.port-img-left {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.port-img-right {
  width: 300px;
  height: 300px;
  display: inline-block;
}

.port-row {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.port-title {
  font-size: 3em;
  color: var(--dark_blue);
  font-weight: bolder;
}

.port-blurb {
  font-size: 1.25em;
}

.port-text {
  display: inline-block;
  height: 300px;
}
