/*************** Portfolio Page Styles *****************/

/******** Macros **********/
:root {
  --blueback: #7393b3;
  --dark_blue: #394A59;
}


/******** Page Styles **********/


/** Header **/

.page-header {
  background-color: #7393B3;
  height: 200px;
  margin-bottom: 20px;
}

.page-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-top: 40px;
  font-size: 5em;
}


/** Projects **/

.port-row {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 265px;
}

.port-row:hover .port-title {
  text-decoration: underline solid;
}

.port-img-left {
  width: 250px;
  height: 250px;
  display: inline;
}

.port-img-right {
  width: 250px;
  height: 250px;
  display: inline;
}

.port-text {
  display: inline-block;
  min-height: 300px;
  width: 50%;
  padding-left: 10px;
}

.port-title {
  font-size: 3em;
  color: var(--dark_blue);
  font-weight: bolder;
}

.port-link {
  color: var(--dark_blue);
}

.port-link:hover {
  color: var(--dark_blue);
}


.port-blurb {
  font-size: 1.25em;
}

.port-hr {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 30px; 
  border: none;
  height: 5px;
  background-color: var(--dark_blue);
}

