
/*************** Main Page Styles *****************/


/******** Page-Wide Styles **********/

:root {
  --blueback: #7393b3;
  --dark_blue: #394A59;
}

/** Responsive Menu Settings **/

/** Smaller Screen **/
@media only screen and (max-width: 900px) {
  .left-bar {
    display: none;
  }

  .headshot-img {
    display: none;
  }

  .name {
    display: none;
  }


  .name-desc {
    display: none;
  }

  .menu-list {
    display: none;
  }

  .social-div {
    display: none;
  }

  .main-sec {
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
    z-index: 3;
  }

}

/** Larger Screen **/
@media only screen and (min-width: 900px) {
  .top-bar {
    display: none;
  }

  .name-top {
    display: none;
  }

  .name-desc-top {
    display: none;
  }

  .social-div-top {
    display: none;
  }

  .main-sec {
    padding-left: 375px;
    padding-top: 20px;
  }

}


/******** Class Styles **********/

.row {
  margin-right: 0;
  margin-left: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/**** Menu Bars ****/

.left-bar {
  background-color: var(--blueback);
  position: fixed;
  height: 100vh;
  width: 375px;
}

.top-bar {
  background-color: var(--blueback);
  height: 200px;
  width: 100%;
}


/* Headshot and Name */

.headshot-img {
    width: 190px;
    position: fixed;
    left: 93px;
    top: 15px;
}

.name {
  font-size: 2.5em;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: fixed;
  left: 34px;
  top: 210px;
}

.name-top {
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  color: white;
  left: 10px;
  top: 10px;
}


.name-desc {
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: fixed;
  left: 60px;
  top: 255px;
}

.name-desc-top {
  font-size: 1.7em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  left: 10px;
  top: 70px;
}


/* Menu */

.menu-list {
  list-style: none;
  position: fixed;
  color: #fff;
  left: -10px;
  top: 320px;
}

.menu-item {
  padding: 2% 0;
}

.menu-link {
  color: rgba(255,255,255,.75);
  font-size: 1.6em;
}

.menu-link:hover {
  color: #fff;
  text-decoration: none;
}

/* Social */

.social-div {
  position: fixed;
  bottom: 10px;
  left: 245px;
}

.social-div-top {
  position: fixed;
  bottom: 10px;
  left: 245px;
}

.social-link {
  color: #394A59;
}

.social-link:hover {
  color: #52616E;
}

.social-logo {
  font-size: 3.4em;
  width: 1em;
}

/**** Main Page ****/

.main-sec {
  background: #fff;
  height: 100vh;
}

.main-title {
  color: var(--dark_blue);
  font-size: 4em;
  padding-left: 40px;
  padding-bottom: 5px;
}

.sub-title {
  color: var(--dark_blue);
  font-size: 2.5em;
  padding-top: 10px;
  font-weight: 600;
}

.not-top {
  padding-top: 5%;
}

/* About Section */

.about-blurb {
  padding-left: 40px;
  padding-right: 80px;
  font-size: 1.1em;
}

.abt-subtitle {
  font-size: 2em;
}

.abt-txt {
  font-size: 1.1em;
}

.about-table {
  padding-left: 40px;
  padding-right: 100px;
}

.skills-title {
  color: #394A59;
  font-size: 2.5vw;
  padding-left: 0;
  padding-top: 2%;
  font-weight: 600;
}

.skills {
  font-size: 2vw;
}

.skills-blurb {
  font-size: 1.1vw;
}

/* Portfolio Section */

.port-table {
  padding: 3% 16% 2% 16%;
}

.port-logo {
  font-size: 3.5vw;
  color: #7393B3;
}

.port-logo:hover {
  color: #394A59;
  text-decoration: none;
}

.port-title {
  font-size: 3vw;
  padding-top: 5%;
  color: #000000;
}

.port-title:hover {
  color: #000000;
}


.port-link:hover {
  text-decoration: none;
}

.port-link-1 {
  padding-left: 17%;
}

.port-link-2 {
  padding-left: 16.5%;
}

.portfolio-col {
  
}


.port-item {
  padding-left: 20%;
}

.port-code {
  padding-left: 10%;
}

/* Work Exp Section */

.exp-table {
  padding: 2% 8% 0 5%;
}

.exp-img {
  width: 7vw;
  height: 7vw;
}

.exp-title {
  padding-left: 7%;
  color: #7393B3;
  font-size: 1.75vw;

}

.exp-desc {
  padding-left: 8%;
  font-size: 1.25vw;
}


/* Contact Section */

.contact-form {
  padding: 1% 12% 3% 5%;
}




/*************** Portfolio Page Styles *****************/

.page-header {
  background-color: #7393B3;
  height: 9vw;
  margin-bottom: 5%;
}

.page-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 2% 0 0 5%;
  font-size: 5vw;
}


.port-row {
  padding: 0 10% 0 10%;
}

.card {
  width: 100%;
  height: 100%;
}

.port-col {
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-ref {
  color: #000000;
}

.card-ref:hover {
  text-decoration: none;
  color: #000000;
}
